/**
 * Styles for Fusion Image Extension
 */
 
.fsn-image.overlay	{
	position:relative;
	display:inline-block;
	max-width:100%;
}

.fsn-image img.img-responsive	{
	width:inherit;
}

.fsn-image.align-left	{
	float:left;
	max-width:100%;
	overflow:hidden;
}

.fsn-image.align-right	{
	float:right;
	max-width:100%;
}

.fsn-image.align-center	{
	text-align:center;
	clear:both;
}

.fsn-image.align-center img	{
	margin-left:auto;
	margin-right:auto;
}

.align-center .image-content	{
	text-align:center;
}

/* Extra small devices (phones, less than 768px) */
/* This is the default viewport */
@media (max-width: 767px) {
	.fsn-image.align-left, .fsn-image.align-right	{
		float:none;
	}
}